## From the libGDX wiki

# and2
# nightly/libs
bitz/data/*

ignore/*

.DS_Store
*/.DS_Store
**/**/.DS_Store

.metadata
*/.metadata

*/bin/**
*/tmp/**
*/tmp/**/*
*.tmp
*.bak
*.swp
*~.nib

RemoteSystemsTempFiles/

# android specific
# */gen/*   ### we want these!
*/bin

# files for the dex VM
*.dex

# Java class files
*.class

# generated GUI files
*R.java

### eclipse files we DO want
# local.properties
# */.loadpath
# classpath
# settings

### Netbean files
# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
*.properties
build.xml
manifest.mf
build-impl.xml
PVUgame/nbproject/project.xml
*/Thumbs.db

### IntelliJ Idea files
.idea/
*.iml
*.iws
out/

### Eclipse files
.classpath
.project
.settings/

### Default
*.class

# Package Files #
# *.jar
*.war
*.ear

#Other
PVUgame/src/PVU.gwt.xml

## Temporary ignore
*/PVU.java
